/* CSS Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
*
* To clear floats
*
*/

.clear:after{
    content: "";
    display: block;
    clear: both;
}

header{
    background-color: violet;
    height: 150px;
}

header > div.logo{
    width: 50%;
    float: left;
    
}

header > div > h1 {
    line-height: 150px;
    text-align: center;
}

header > nav {
    width: 50%;
    float: left;
    text-align: center;
}

/* brand name*/
.logo{ 
    font-size: 2em;
    color: #fff;
}
.logo > h1 > span {
    color: darkviolet;
}

/* navigation */
nav > ul > li {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 0.8em;
    line-height: 150px;
   
}

nav > ul > li > a{
     text-decoration: none;
    padding: 10px 30px;
    width: 100px;
    background-color: aliceblue;
    margin-right: 20px;
}

div.wrapper{
    background: lightgrey;
}

main{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    height: 1000px;
}

main p{
    margin-bottom: 20px;
}


/*
*
* Back to top
*
*/

div.back{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

div.back > a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 10px;
}


/*
*
* Banner
*/

div.grandparent {
    background-color: grey;
    padding: 50px;
    width: 50%;
    margin: 0 auto 32px;
    position: relative;
    text-align: center;
}



div.parent{
    background-color: white;
    padding: 25px;
}

div.avatar{
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 0 auto;
}

div.name{
    margin-top: 10px;
}

div.certified{
    background-color: blue;
    color: white;
    padding: 15px;
    width: 50%;
    text-align: center;
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}