 CSS Reset */
*{
	margin: 0;                          /*always on projects important*/  
 	padding: 0;                        /*always on projects important*/
	box-sizing: border-box;            /*always on projects important*/
}

body {
	background-color: lightgrey;
}

.wrapper {
	background-color: #fff;
	width: 80%;
	margin: 0 auto; /*centers container horizontally*/
}
/*
 *block types
 */
h1,
p {
	background-color: lightblue;
}
/*
*
*/
h1{
	padding: 50px; /*shorthand */
	/*padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;*/
	/*padding +> top right bottom left*/
    /*padding: 10px 20px;  */
    /*padding: 10 20; top bot right lef*/
    /*border: 1px solid #5d6063; shorthand*/
    border-top: 1px solid #5d6063;
    border-right: : 1px solid #5d6063;
    border-left: : 1px solid #5d6063;
    border-bottom: : 1px solid #5d6063;
} 

p{
	padding: 20px 0 20px 10px;
	margin-bottom: 50px;
}

em,
strong {
	background-color: yellow;
	/*display: block; */
	display: inline;  
}

strong{
	/*margin: 50px;
	padding: 50px;*/
}
/*
 * Generic Boxes (div and span)
 */

/* block type container*/
 div {
 	background-color: skyblue;
 	padding: 20px;
 	text-align: center;
 	border: 2px solid #5d6063;
    border-radius: 5px;
    width: 50%;
 }  

/* inline type container*/

span{
	font-size: 2em;  /* 1em = 16px by default*/
	color: red;
}

button{
	padding: 20px 30px;
	border: 1 px solid #000;
	background-color: blue;
	color: white;
    border-radius: 5px;
    /*width: 120px;*/
    margin:0 auto;     /*centering*/
    display: block;  /*Inline type by default*/
}