/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	/* To avoid overflow */
    font-family: 'Lobster', cursive;
}



body{

	background-color: lightgrey;
}

.wrapper{
	width: 80%;
	margin: 0 auto; /* To center the wrapper */
	background-color: black; 


}

/*
div{
	padding: 20px;
}
*/

.grandparent{
	background-color: skyblue;
	width: inherit; /*Refers to parent container's width*/
	position: fixed;
	bottom: 0;
}

.parent{
	background-color: pink;
	/*width: 100%;*/
	position: relative;
}

/*p{
	position: static;
	margin-left: 50px;
	margin-top: -20px;

}
*/
input[name="submit"] {
	margin-left: 20px;
}

strong{
	background-color: yellow;
	position: absolute;
	top: 10px;
	left: 10px;
	/*left: 100px;*/
	/*top: 100px;*/
	/*right: -100px;*/
	/*bottom: -100px;*/

}

h1{
	background-color: grey;
	padding: 10px;
	/*position: fixed;*/
	z-index: 1;
	width: inherit;
    margin-left: 500px;
}

main.wrapper > p {
	height: 1000px;
	background-color: #efefef;
	position: relative;
	top: 57px;
}

h4 {
    text-align: center;
    font-size: 50px;
}


/*
 *
 * Page 3 CSS Rules
 *
 */

/* div{
 	width: 100px;
 	height: 100px;
 	border: 1px solid black;
 	/*position: absolute;
 }*/

 .blue{
 	background-color: blue;
 	top: 20px;
 	left: 20px;
 	z-index: 1;
 }

 .yellow{
 	background-color: yellow;
 	top: 40px;
 	left: 40px;
 	/*z-index: 1;*/
 }

 .orange{
 	background-color: orange;
 	top: 60px;
 	left: 60px;
 	z-index: 2;
 }


/*
 *
 * Page 4 CSS Rules
 *
 */

/*
 main.wrapper div {
 	padding: 0;
 	margin: 0;
 }
*/

 .menu{
 	height: 100px;
 	background-color: #b2d6ff; /* Blue */
 }

 .sidebar{
 	height: 300px;
 	background-color: #f09a9d; /* Red */
 	width: 20%;
 	margin: 0 auto;
 	float: left; /* Possible values: right, none, left*/
 	/*height: 100%;*/
 }

/*
*
* Content
*
*/


 .content{
/* 	height: 500px;*/
 	background-color: #f5c58e; /* Peach */
 	width: 80%;
 	float: left;
    padding: 20px;
 }

.article-image{
    width: 300px;
/*    height: 200px;*/
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    
}

div.content > p {
    margin-bottom: 10px;
}

/*
*
* Footer
*
*/



.footer{
/*	height: 200px;*/
	background-color: #d6e9fe; /* Light Blue */
	clear: both; /* Will offset floating effects */
}

.avatar{
    width: 60px;
    height: 60px;
    background-color: #d639fe;
    float: left;
    margin-right: 25px;
    border-radius: 50%;
    background-image: url("../images/kor.jpg/60/60/");
}

.username{
    margin-bottom: 15px;
}

h3.username + p{
    overflow: hidden;
}

.page{
/*	border: 1px solid red;*/
	/*height: 500px;*/
}

/*
 *
 * Best way to clear floats
 *
 */


.clear:after{
    content: "";
    display: block;
    clear: both;
}

/*Columns*/

.column{
    background-color: #b2d6ff;
    height: 160px;
    width: 31%;
    margin: 20px 1.16%;
/*    border: 1px solid red;*/
    float: left;
    padding: 15px;
/*    overflow: hidden;*/
    position: relative;
}



/*
*
*
* Managing text-overflow with multiline support
*
*/


.block-with-text{
    overflow: hidden;
    position: relative;
    line-height: 1.2em; /* em = default font-size, 16px*/
    max-height: 3.6em;
    text-align: left;
    margin-right: -1em;
    padding-right: 30px;
    
}
.block-with-text:before{
    content: "...";
    position: absolute;
    right: 40px;
    bottom: 0;
}
.block-with-text:after{
    content: "";
    position: absolute;
    right: 17px;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background-color: #b2d6ff;
}

.read-more{
    position: absolute;
    right: 24px;
    bottom: 21px;
}
