*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > div.logo{
    width: 50%;
    float: right;
    border-style: solid;
    padding: 120px;
    
}

h2{
	background-color: red;
	width: 1500px;
	height: 600px;
}

h3{
	background-color: black;
    width: 1500px;
	height: 600px;
}

h4{
	background:pink;
    width: 1500px;
	height: 600px;
}

h5{
	background-color: grey;
    width: 1500px;
	height: 600px;
}